.Skills{
    &-bio_image{
        height: 75vh;
        width: 100%;
        background: linear-gradient(to right, rgba($color1 , 0.9), rgba($color1 , 0.3)),
        url('../img/banner.png') center top ; 
        background-size: cover;    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        .Skill_text{
            width: 70%;
            text-align: center;
            .text2{
                padding-bottom: 2rem;
                color: $color2;
            }
            p{
                margin-bottom: 2rem;
            }
        }
    }
    .skills_items{
        width: 80%;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;


        @keyframes load {0%{stroke-dashoffset:0}}
        .progresss {
            position: relative;
            display: inline-block;
            padding: 0;
            text-align: center;
            &>li {
                display: inline-block;
                position: relative;
                text-align: center;
                color: #93A2AC;
                font-family: Lato;
                font-weight:100;
                margin: 2rem;
                &:before {
                    content: attr(data-name);
                    position: absolute;
                    width: 100%;
                    bottom: -2rem;
                    font-weight:400;
                }
                &:after {
                    content: attr(data-percent);
                    position: absolute;
                    width: 100%;
                    top: 3.7rem;
                    left: 0;
                    font-size: 2rem;
                    text-align: center;
                }
            }
            svg {
                width: 10rem;
                height: 10rem;
                &:nth-child(2) {
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: rotate(-90deg);
                }
                &:nth-child(2) path {
                    fill: none;
                    stroke-width: 25;
                    stroke-dasharray: 629;
                    stroke: #fff;
                    opacity:.9;
                    animation: load 10s;
                }
            }
        }
    }
}